body { margin: 0; background-color: #eeeeee; font-family: 'Arial', sans-serif; font-size: 10pt; }

#layout { height: 100%; }
#layout_top { background-color: #cccccc; height: 60px; min-height: 60px; max-height: 60px; }
#layout_bottom { background-color: #cccccc; height: 20px; min-height: 20px; max-height: 20px; }
#layout_content { padding: 10px; }

table.list { background-color: #dddddd; width: 80%; }
td.list { padding-left: 4px; padding-right: 4px; }
a.list { text-decoration: none; color: inherit; }

#list_topbot { font-weight: normal; background-color: #eeeeff; outline-style: solid; outline-width: 1px; outline-color: #ccccff; }

th.hack { min-width: 45px; max-width: 45px; }

.duration { font-family: 'Courier New', 'Lucida Console', monospace; }

.cat_1 { color: black; }
.cat_2 { color: #66339f; }
.cat_3 { color: #253100; }
.cat_4 { color: #510000; }

.parity_0 { background-color: #bbbbbb; }
.parity_1 { background-color: #cccccc; }

.ltitle { font-weight: bold; }

.hack { font-family: Hack, 'Lucida Console', monospace; }

.lingos { font-style: italic; }

a.page_nr { text-decoration: none; color: inherit; }

td.page_nr { font-size: 9pt; padding: 3px; border-width: 1px; border-style:solid; border-color: #ddddff; background-color: white; color: #3333ff; }

td.page_nr.page_active { color: white; background-color: #3333ff; }
