/*
 * Copyright 2017-2018 by Heiko Schäfer <heiko@rangun.de>
 *
 * This file is part of webvirus.
 *
 * webvirus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * webvirus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with webvirus.  If not, see <http://www.gnu.org/licenses/>.
 */

@media (max-width: 1366px) {
  :root {
    --nf: 8pt;
    --lf: 17pt;
    --mf: 9.5pt;
    --tf: 7.5pt;
    --ef: 7.5pt;
    --pdfpic: 30px;
    --list-table-width: 936px;
    --layout-lr-width: 176px;
    --input-width: 96px;
    --label-width: 160px;
    --searchfield_height: auto;
    --searchfield_fontsize: auto;
    --sugg-font-size: auto;
    --top-height: 60pt;
  }
}

@media (min-width: 1367px) {
  :root {
    --nf: 9pt;
    --lf: 20pt;
    --mf: 10.5pt;
    --tf: 8.5pt;
    --ef: 8pt;
    --pdfpic: 60px;
    --list-table-width: 1170px;
    --layout-lr-width: 220px;
    --input-width: 120px;
    --label-width: 200px;
    --searchfield_height: auto;
    --searchfield_fontsize: auto;
    --sugg-font-size: auto;
    --top-height: 60pt;
  }
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
  :root {
    --nf: 13pt;
    --lf: 16pt;
    --mf: 16pt;
    --tf: 10pt;
    --ef: 15pt;
    --pdfpic: 30px;
    --list-table-width: 1100px;
    --layout-lr-width: none;
    --input-width: 96px;
    --label-width: 160px;
    --searchfield_height: 40px;
    --searchfield_fontsize: 20pt;
    --sugg-font-size: 16pt;
    --top-height: 20%;
  }
}

html, body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--col1);
  font-family: 'Verdana', sans-serif;
  font-size: var(--nf);
}

@media screen and (orientation:portrait) {
  #portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: midnightblue;
  }

  div#portrait p {
    font-size: 80pt;
    font-family: monospace;
    color: #95e3e3;
    font-weight: bolder;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  #standard {
    display: none;
  }
}

@media screen and (orientation:landscape) {
  #standard {
    height: 100%;
  }

  #portrait {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--nf);
}

ul {
  margin-bottom: 0px;
}

li {
  font-size: var(--nf);
}

h1 {
  max-width: 25%;
}

h3 {
  max-width: 25%;
}

input[type=text] {
  padding-top: 5px;
  border: 2px solid var(--col5);
  border-radius: 5px;
  height: var(--searchfield_height);
  font-size: var(--searchfield_fontsize);
}

input[type=text]:focus {
  border-color: var(--col14);
}

@media screen and (max-width: 1281px) {
  .cat_select {
    position: absolute;
    top: 5px;
    left: 200px;
    width: 20%;
  }

  .latest_dvd {
    position: absolute;
    top: 30px;
    left: 840px;
    width: 20%;
  }

  .downloads {
    display: none;
  }

  table.userbox {
    display: none;
  }
}

table.userbox td label {
  width: var(--label-width);
  display: inline-block;
  text-align: right;
}

select.input_filter {
  height: var(--searchfield_height);
  font-size: var(--searchfield_fontsize);
}

table.userbox td label input[type=text], table.userbox td label input[type=password] {
  border-color: var(--col6);
  width: var(--input-width);
  height: auto;
}

table.userbox td input[type=submit], #remember_button {
  padding: 5px 15px;
  background:var(--col6);
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--nf);
}

table.userbox td input[type=file] {
  width: 100%;
}

table.userbox td input[type=file]:after {
  padding: 5px 15px;
  background:var(--col6);
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

select {
  padding-top: 5px;
  border: 2px solid var(--col5);
  border-radius: 5px;
}

select:focus {
  border-color: var(--col14);
}

table, th, td {
  margin: 0px;
  border: 0px;
  padding: 0px;
  vertical-align: top;
}

.cat_nav {
  background-color: var(--col7);
}

th.cat_nav {
  background-color: var(--col8);
  padding-bottom: 2px;
  font-size: var(--nf);
}

ul.cat_nav {
  margin-top: 0px;
  padding-left: 20px;
  list-style-type: circle;
}

li.cat_nav_active {
  list-style-type: square;
}

.list {
  font-family: 'Arial', sans-serif;
  font-size: var(--mf);
}

table.list {
  background-color: var(--col7);
  min-width: var(--list-table-width);
}

td.list {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

td.list a, td.list.hack a {
  font: inherit;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalDialog {
  position: fixed;
  font-family: Verdana, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  display: table;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: var(--col2)
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: linear-gradient(#fff, #999);
  text-align: left;
}

.close {
  background: var(--col3);
  color: var(--col2);
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: var(--col9);
}

div.ua {
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: underline;
  overflow: hidden;
}

a.list {
  background-color: var(--col10);
}

a.note_link {
  color: var(--col4);
}

a.pdflink {
  color: var(--col4);
  padding-top: 12px;
  padding-left: 5px;
  padding-right: var(--pdfpic);
  background: transparent url('../img/application-pdf.png') no-repeat right;
}

.hack {
  font-family: Hack, 'Lucida Console', monospace;
}

.ltitle {
  font-weight: bold;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hasTooltip span {
  display: none;
  text-decoration: none;
  font-size: var(--tf);
  padding: 3px;
}

.hasTooltip:hover span {
  display: block;
  position: absolute;
  background-color: var(--col10);
  border: 1px solid var(--col6);
  margin: 2px 10px;
}

.lingos {
  font-style: italic;
}

@media screen and (max-width: 1281px) {
  .lingos {
    display: none;
  }
}

.duration {
  font-family: 'Courier New', 'Lucida Console', monospace;
}

.min_th {
  width: 0%;
}

.max_th {
  width: 100%;
}

.cat_0 {
  color: var(--cat_0);
}

.cat_1 {
  color: var(--cat_1);
}

.cat_2 {
  color: var(--cat_2);
}

.cat_3 {
  color: var(--cat_3);
}

.cat_4 {
  color: var(--cat_4);
}

table.list tr.parity_0 {
  background-color: var(--col8);
}

table.list tr.parity_1 {
  background-color: var(--col6);
}

td.list_filter {
  font-family: 'Verdana', sans-serif;
  font-size: var(--nf);
  padding: 2px;
  padding-top: 4px;
}

td.list_filter span, .tt-input, .tt-hint {
  width: 99%;
}

tr.list_filter {
  background-color: var(--col11);
}

.notes {
  padding: 8px;
  font-size: var(--ef);
}

.red_text {
  color: var(--col15);
}

a.page_nr {
  display: block;
  background-color: var(--col16);
}

td.page_nr {
  font-family: 'Arial', sans-serif;
  font-size: var(--nf);
  padding: 3px;
  border-width: 1px;
  border-style:solid;
  border-color: var(--col11);
  background-color: var(--col2);
  color: var(--col4);
}

td.page_nr.page_active {
  color: var(--col2);
  background-color: var(--col4);
}

#layout {
  height: 100%;
  background: url(../img/bg.png) repeat;
}

#layout_left {
  padding-top: 10px;
  padding-left: 10px;
  width: var(--layout-lr-width);
  max-width: var(--layout-lr-width);
  min-width: var(--layout-lr-width);
}

#layout_right {
  padding-top: 10px;
  padding-right: 10px;
  width: var(--layout-lr-width);
  max-width: var(--layout-lr-width);
  min-width: var(--layout-lr-width);
}

@media screen and (max-width: 1281px) {
  #layout_right {
    display:none;
  }
}

#layout_top {
  font-family: 'Arial', sans-serif;
  background-color: var(--col6);
  padding-top: 10px;
  padding-bottom: 10px;
  height: var(--top-height);
  min-height: var(--top-height);
  max-height: var(--top-height);
  background: var(--col1);
  background: var(--tgrad_moz);
  background: var(--tgrad_wbk);
  background: var(--tgrad_std);
  filter: var(--tgrad_fie);
}

#layout_bottom {
  background-color: var(--col6);
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

#layout_content {
  padding: 10px;
}

#list_topbot {
  font-weight: normal;
  background-color: var(--col10);
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--col13);
}

#title_link {
  font-size: var(--lf);
  text-shadow: 1px 1px var(--col8), 2px 2px var(--col8), 3px 3px var(--col8);
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}

#list_filter_id {
  text-align: right;
  float: right;
  width: 50px;
}

#filter_submit {
  display: none;
}

#remember_button {
  display: inherit;
}

#mobile_pagesize {
  position: absolute;
  top: 110px;
  left: 840px;
  width: 20%;
  font-family: 'Verdana', sans-serif;
}

.tt-menu {
  width: 99%;
  max-height: 180px;
  overflow-y: auto;
  border-width: 2px;
  border-color: var(--col5);
  border-style: solid;
  background-color: var(--col2);
}

.tt-suggestion {
  font-size: var(--sugg-font-size);
  white-space: nowrap;
}

.tt-dataset {
  border: none;
}

.tt-cursor {
  background-color: var(--col5);
}
